Repository Frezyx/talker, pull requests merged in 2025-05, with the labels that each got.

#358 Fixed missing info and detailed message for exceptions
  packages/talker_flutter/lib/src/ui/widgets/data_card.dart
Labels: enhancement, talker_flutter

#306 Add logLevel field to provide in all dIo logs
  packages/talker_dio_logger/lib/dio_logs.dart
  packages/talker_dio_logger/lib/talker_dio_logger_settings.dart
  packages/talker_dio_logger/test/logs_test.dart
  packages/talker_dio_logger/test/settings_test.dart
Labels: enhancement, talker_dio_logger

#361 chore: simplify Github actions
  .github/workflows/talker.yaml
  .github/workflows/talker_bloc_logger.yaml
  .github/workflows/talker_dio_logger.yaml
  .github/workflows/talker_flutter.yaml
  .github/workflows/talker_logger.yaml
  .github/workflows/talker_riverpod_logger.yaml
  .github/workflows/test.yaml
Labels: work_in_progress, environment, tests

#363 fix: propagate `itemsBuilder` to `TalkerView`
  packages/talker_flutter/lib/src/ui/talker_screen.dart
Labels: bugfix, talker_flutter

#266 Show full data of Bloc logs in Flutter Talker
  packages/talker_bloc_logger/lib/bloc_logs.dart
Labels: awaiting, addons, talker_bloc_logger

#215 feat: Add custom settings section
  examples/shop_app_example/lib/ui/router.dart
  packages/talker_flutter/example/lib/main.dart
  packages/talker_flutter/example/linux/flutter/ephemeral/.plugin_symlinks/share_plus
  packages/talker_flutter/lib/src/src.dart
  packages/talker_flutter/lib/src/ui/talker_screen.dart
  packages/talker_flutter/lib/src/ui/talker_settings/custom_settings/custom_settings_group.dart
  packages/talker_flutter/lib/src/ui/talker_settings/custom_settings/custom_settings_items.dart
  packages/talker_flutter/lib/src/ui/talker_settings/talker_settings.dart
  packages/talker_flutter/lib/src/ui/talker_settings/talker_settings_bottom_sheet.dart
  packages/talker_flutter/lib/src/ui/talker_settings/widgets/talker_setting_card.dart
  packages/talker_flutter/lib/src/ui/talker_view.dart
  packages/talker_flutter/lib/src/ui/widgets/bottom_sheet.dart
Labels: enhancement, ui/ux, talker_flutter
