Repository Frezyx/talker, pull requests merged in 2025-02, with the labels that each got.

#331 Fix substitution of hidden headers ``hiddenHeaders`` field in ``TalkerDioLoggerSettings``
  README.md
  examples/shop_app_example/pubspec.yaml
  packages/talker/CHANGELOG.md
  packages/talker/pubspec.yaml
  packages/talker_bloc_logger/CHANGELOG.md
  packages/talker_bloc_logger/README.md
  packages/talker_bloc_logger/pubspec.yaml
  packages/talker_dio_logger/CHANGELOG.md
  packages/talker_dio_logger/README.md
  packages/talker_dio_logger/example/lib/main.dart
  packages/talker_dio_logger/example/pubspec.yaml
  packages/talker_dio_logger/lib/dio_logs.dart
  packages/talker_dio_logger/pubspec.yaml
  packages/talker_flutter/CHANGELOG.md
  packages/talker_flutter/pubspec.yaml
  packages/talker_http_logger/CHANGELOG.md
  packages/talker_http_logger/README.md
  packages/talker_http_logger/pubspec.yaml
  packages/talker_logger/CHANGELOG.md
  packages/talker_logger/README.md
  packages/talker_logger/pubspec.yaml
  packages/talker_riverpod_logger/CHANGELOG.md
  packages/talker_riverpod_logger/README.md
  packages/talker_riverpod_logger/example/pubspec.yaml
  packages/talker_riverpod_logger/pubspec.yaml
Labels: bugfix, talker_dio_logger

#332 Fix CustomLog pen field ignoring by _handleLogData method
  README.md
  examples/shop_app_example/pubspec.yaml
  packages/talker/CHANGELOG.md
  packages/talker/lib/src/talker.dart
  packages/talker/pubspec.yaml
  packages/talker_bloc_logger/CHANGELOG.md
  packages/talker_bloc_logger/README.md
  packages/talker_bloc_logger/pubspec.yaml
  packages/talker_dio_logger/CHANGELOG.md
  packages/talker_dio_logger/README.md
  packages/talker_dio_logger/example/pubspec.yaml
  packages/talker_dio_logger/pubspec.yaml
  packages/talker_flutter/CHANGELOG.md
  packages/talker_flutter/pubspec.yaml
  packages/talker_http_logger/CHANGELOG.md
  packages/talker_http_logger/README.md
  packages/talker_http_logger/pubspec.yaml
  packages/talker_logger/CHANGELOG.md
  packages/talker_logger/README.md
  packages/talker_logger/pubspec.yaml
  packages/talker_riverpod_logger/CHANGELOG.md
  packages/talker_riverpod_logger/README.md
  packages/talker_riverpod_logger/example/pubspec.yaml
  packages/talker_riverpod_logger/pubspec.yaml
Labels: bugfix, core, console

#330 Fix search textfield background color become white in light theme
  packages/talker_flutter/lib/src/ui/widgets/talker_view_appbar.dart
Labels: bugfix, ui/ux, talker_flutter

#329 adding response redirects into dio_logs
  packages/talker_dio_logger/lib/dio_logs.dart
  packages/talker_dio_logger/lib/talker_dio_logger_settings.dart
  packages/talker_dio_logger/test/logs_test.dart
Labels: enhancement, talker_dio_logger

#334 Rename conflict extension
  packages/talker/lib/src/extensions/extensions.dart
  packages/talker/lib/src/talker_key.dart
Labels: dependencies, dependency-bug, bugfix, talker_flutter

#339 fix: hidden headers altering the request value
  examples/shop_app_example/pubspec.yaml
  packages/talker_dio_logger/lib/dio_logs.dart
  packages/talker_dio_logger/test/logger_test.dart
  packages/talker_http_logger/lib/talker_http_logger.dart
Labels: bugfix, talker_dio_logger, important

#341 Fix search filtering rules
  packages/talker/lib/src/filter.dart
  packages/talker/test/filter_test.dart
Labels: bugfix, core
