Repository Frezyx/talker, pull requests merged in 2025-03, with the labels that each got.

#344 Fix mistype in documentation
  packages/talker_logger/lib/src/models/log_level.dart
Labels: documentation

#337 Remove deprecated dart:html
  packages/talker_flutter/lib/src/utils/download_logs/donwload_logs.dart
  packages/talker_flutter/lib/src/utils/download_logs/download_logs_html.dart
  packages/talker_flutter/lib/src/utils/download_logs/download_logs_web.dart
  packages/talker_logger/analysis_options.yaml
  packages/talker_logger/lib/src/logger.dart
  packages/talker_logger/lib/src/logger_web.dart
  packages/talker_logger/pubspec.yaml
Labels: enhancement, platform, talker_flutter, web

#345 Update badges
  README.md
Labels: documentation

#328 Fix scroll issue and widget usability with high text scale
  packages/talker_flutter/lib/src/ui/talker_actions/talker_actions_bottom_sheet.dart
  packages/talker_flutter/lib/src/ui/talker_monitor/talker_monitor.dart
  packages/talker_flutter/lib/src/ui/talker_settings/talker_settings_bottom_sheet.dart
  packages/talker_flutter/lib/src/ui/talker_view.dart
  packages/talker_flutter/lib/src/ui/widgets/bottom_sheet.dart
  packages/talker_flutter/lib/src/ui/widgets/talker_view_appbar.dart
Labels: bugfix, ui/ux, talker_flutter, performance
