Repository Frezyx/talker, pull requests merged in 2025-01, with the labels that each got.

#318 Correction the import file name in the talker_flutter log downloader web
  packages/talker_flutter/lib/src/utils/download_logs/donwload_logs.dart
Labels: bugfix, talker_flutter

#317 Proper migration of support to the web using both html and wasm
  packages/talker_flutter/example/.metadata
  packages/talker_flutter/example/pubspec.yaml
  packages/talker_flutter/example/web/index.html
  packages/talker_flutter/lib/src/utils/download_logs/donwload_logs.dart
  packages/talker_flutter/lib/src/utils/download_logs/download_logs_html.dart
  packages/talker_flutter/lib/src/utils/download_logs/download_logs_web.dart
  packages/talker_flutter/pubspec.yaml
Labels: bugfix, talker_flutter, web

#323 Hide specific header from dio logger
  packages/talker_dio_logger/lib/dio_logs.dart
  packages/talker_dio_logger/lib/talker_dio_logger_settings.dart
  packages/talker_dio_logger/test/logger_test.dart
Labels: enhancement, console, talker_dio_logger, security

#322 Hide specific header from http logger
  packages/talker_http_logger/example/talker_http_logger_example.dart
  packages/talker_http_logger/lib/talker_http_logger.dart
  packages/talker_http_logger/lib/talker_http_logger_settings.dart
Labels: enhancement, console, talker_http_logger, security
